body {
 margin: auto;
 width: 760px;
 background-color: #F8F8F8;
}
#head {
 position: fixed;
 top: 0;
 left: 0;
 text-align: center;
 width: 100%;
 height: 35px;
 background-color: black;
 color: white;
 margin: 0;
 padding-top: 5px;
 font-weight: bold;
}
#title {
 position: absolute;
 left: 5;
 top: 5;
 font-size: 22px;
}
#code {
 position: absolute;
 right: 25;
 top: 8;
 font-size: 18px;
 font-weight: normal
}
#title a, #code a {
 text-decoration: none;
}
#head a, #head a:visited {
 color: white;
}
#head input, #head span {
 margin-left: 12px;
}
#preview {
 padding: 60px 5px 60px 5px;
 background-color: #FFF;
}
#preview a, #preview a:visited {
 color: #006;
}
.comment {
 display: none;
}
.note {
 font-weight: bold;
}
